/app/models
/elasticsearch-data
/app/evaluation_model
.env
/app/__pycache__/
/app/*/__pycache__/
/app/*/*/__pycache__/
./.idea
.idea
/app/predictions/mysceal_nlp_utils/__pycache__
/app/.DS_Store
*.ipynb
*/.ipynb_checkpoints
.ipynb_checkpoints
*.log
