addict==2.4.0
apex==0.9.10dev
autocorrect==2.6.1
basicsr==1.4.2
boto3==1.17.98
cityscapesscripts==2.2.3
diffusers==0.16.0
einops==0.8.0
elasticsearch==8.6.1
fairscale==0.4.4
fastapi==0.89.1
ftfy==6.2.0
gensim==4.3.2
iopath==0.1.10
lmdb==1.4.1
matplotlib==3.6.3
nltk==3.8.1
numpy==1.24.1
omegaconf==2.3.0
onnx==1.16.0
openai==1.26.0
opencv_python_headless==4.5.5.64
opendatasets==0.1.22
packaging==24.0
pandas==1.5.3
parrots==1.0.3
parsedatetime==2.6
Pillow==10.3.0
plotly==5.21.0
prettytable==3.10.0
pycocoevalcap==1.2
pycocotools==2.0.7
pydantic==1.10.8
pytest==8.2.0
python-dotenv==1.0.1
python_magic==0.4.27
PyYAML==6.0.1
regex==2022.10.31
requests==2.31.0
scipy
sentence_transformers==2.7.0
sentry_sdk==1.14.0
setuptools==69.5.1
spacy==3.7.4
starlette==0.22.0
streamlit==1.33.0
tensorboardX==2.6.2.2
tifffile
timm==0.4.12
torch==1.13.1
torch_tb_profiler==0.4.3
torchvision==0.14.1
tqdm==4.64.1
transformers==4.40.1
webdataset==0.2.86
yapf==0.40.2
